@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #111;
  --background-start-rgb:#eef;
  --background-end-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #eee;
    --background-start-rgb: #001;
    --background-end-rgb: #000;
  }
}

html,body {
  min-height: 100vh;
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      var(--background-start-rgb),
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

h1{
  @apply text-4xl
}
h2{
  @apply text-2xl
}

h3{
  @apply text-xl
}